name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: /
        id: find-pull-request
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: test
      - run: echo "Your Pull Request has number ${number}"
        env:
          number: ${{ steps.find-pull-request.outputs.number }}
